<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../styles/style.css">

    <title>Document</title>
</head>
<body>
    {% if messages %}
    <div id="toast-container" class="fixed top-4 right-4 space-y-2 z-50">
    {% for message in messages %}
    <div class="toast flex items-center justify-between px-4 py-2 rounded shadow-lg text-white
        opacity-0 transform translate-x-6 transition-all duration-500
        {% if message.tags == 'success' %}bg-green-500{% endif %}
        {% if message.tags == 'warning' %}bg-yellow-400 text-black{% endif %}
        {% if message.tags == 'error' %}bg-red-500{% endif %}
        ">
        <span>{{ message }}</span>
        <button class="ml-2 font-bold text-lg" onclick="this.parentElement.remove()">×</button>
    </div>
    {% endfor %}
    </div>
    {% endif %}

    {% load static %}
    <div class="flex flex-row  lg:w-[99vw]" >
        <div class="lg:w-[20vw] ">
            <aside 
                class="md:hidden hidden lg:block fixed top-0 left-0 h-full bg-white border-r border-gray-200 z-50 transition-transform duration-300 ease-in-out
              ${isOpen ? 'translate-x-0' : '-translate-x-full lg:translate-x-0'} w-64">
                <div class="flex flex-col  h-full ">
                
                    <div class="flex items-center justify-between p-6 border-b border-gray-200">
                        <div class="flex items-center gap-3">
                            <div class="w-10 h-10 bg-gradient-to-br from-[#2563EB] to-[#10B981] rounded-lg flex items-center justify-center">
                                <img src="{% static 'gestions/icones/box (1).png' %}" alt="" >
                            </div>
                            <div>
                                <h1 class="font-bold text-gray-900">InventoryPro</h1>
                                <p class="text-xs text-gray-500">Gestion de stock</p>
                            </div>
                        </div>
                        <button class="lg:hidden text-gray-500 hover:text-gray-700">
                            <span class="text-xl">X</span>
                        </button>
                    </div>
                    <nav class="flex-1 p-4 space-y-1 ">
                        <a href="{% url 'index'%}">
                        <div class="menu-item flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200 text-gray-700 hover:bg-gray-100 ">
                            <img src="{% static 'gestions/icones/house (1).png'%}" alt="" class="h-5 w-5">
                            <p class="font-medium"> Accueil</p>
                        </div>
                        </a>
                        <a href="{%url 'dashboard'%}">
                        <div class="menu-item flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200 
                            text-gray-700 hover:bg-gray-100 {% if request.resolver_match.url_name == 'dashboard' %}
                            bg-[#2563EB] text-white shadow-md
                            {% else %}
                            text-gray-700 hover:bg-gray-100
                            {% endif %}">
                            <img src="{% static 'gestions/assets/icones/layout-dashboard (1).png'%}" alt="" class="h-5 w-5">
                            <p class="font-medium"> Tableau de bord</p>
                        </div>
                        </a>
                        <a href="{%url 'produit'%}">
                        <div class="menu-item flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200
                            
                            text-gray-700 hover:bg-gray-100 {% if request.resolver_match.url_name == 'produit' %}
                            bg-[#2563EB] text-white shadow-md
                            {% else %}
                            text-gray-700 hover:bg-gray-100
                            {% endif %}">
                            <img src="{% static 'gestions/assets/icones/package.png'%}" alt="" class="h-5 w-5">
                            <p class="font-medium"> Produits</p>
                        </div>
                        </a>
                        <a href="{% url 'supplier'%}">
                        <div class="menu-item flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200
                            
                            text-gray-700 hover:bg-gray-100 {% if request.resolver_match.url_name == 'supplier' %}
                                bg-[#2563EB] text-white shadow-md
                                {% else %}
                                text-gray-700 hover:bg-gray-100
                                {% endif %}">
                            <img src="{% static 'gestions/assets/icones/users-round (3).png'%}" alt="" class="h-5 w-5">
                            <p class="font-medium"> Fournisseur</p>
                        </div>
                        </a>
                        <a href="{%url 'mouvement' %}">
                        <div class="menu-item flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200
                              
                            text-gray-700 hover:bg-gray-100 {% if request.resolver_match.url_name == 'mouvement' %}
                                                            bg-[#2563EB] text-white shadow-md
                                                            {% else %}
                                                            text-gray-700 hover:bg-gray-100
                                                            {% endif %}">
                            <img src="{% static 'gestions/assets/icones/trending-up (3).png'%}" alt="" class="h-5 w-5">
                            <p class="font-medium"> Mouvement</p>
                        </div>
                        </a>
                        {% if request.user.administrateur.role == "Administrateur" %}
                        <a href="{%url 'category_create' %}">
                            <div class="menu-item flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200 text-gray-700 hover:bg-gray-100">
                            <img src="{% static 'gestions/assets/icones/chart-bar-stacked.png'%}" class="h-5 w-5" alt="">
                            <p class="font-medium">category</p>
                            </div>
                        </a>
                        <a href="{%url 'fournir_create' %}">
                            <div class="menu-item flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-200 text-gray-700 hover:bg-gray-100">
                            <img src="{% static 'gestions/assets/icones/cable.png'%}" class="h-5 w-5" alt="">
                            <p class="font-medium">selection fournisseur</p>
                            </div> 
                        </a>
                        {% endif %}

                    </nav>
                    <div class="mt-[8vh]">
                        <div class="text-red-400 border bg-red-100 w-55 ml-5 rounded-[5px] hover:shadow-md  px-10 py-2 pb-2 hover:text-red-600">
                        {% if user.is_authenticated %}
                            
                            <a href="{% url 'disconnect' %}" class=" flex items-center gap-2"><img src="{% static "gestions/assets/icones/log-out.png" %}" class="w-5 h-5"alt=""> <span>Se déconnecter</span></a>
                        {% else %}
                            <a href="{% url 'login' %}">Se connecter</a>
                        {% endif %}
                        </div>
                        <div class="p-4 border-t border-gray-200 m">
                                <div class="bg-gradient-to-r from-blue-50 to-green-50 rounded-lg p-4">
                                <p class="text-sm font-medium text-gray-900 mb-1">Besoin d'aide ?</p>
                                <p class="text-xs text-gray-600 mb-3">Consultez notre documentation</p>
                                <button class="w-full bg-white text-[#2563EB] px-3 py-2 rounded-lg text-sm font-medium hover:bg-gray-50 transition-colors">
                                    Documentation
                                </button>
                            </div>
                        </div>
                    </div>
            </aside>
            
        </div>
        <div class="ml-0 lg:w-[80vw]">
        
            <header class="bg-white border-b border-gray-200 sticky top-0 z-30">
                <div class="flex items-center justify-between px-4 lg:px-6 h-16">
                                <!-- {/* Left side */} -->
                    <div class="flex items-center gap-4 flex-1">
                    
                             <!-- modal de menu burger -->
                    <button onclick="openMenuModal()" class="p-2 rounded">
                        <img src="{% static "gestions/assets/icones/menu (2).png"%}" alt=" rien " class="w-6 h-6 hover:h-10" />
                    </button>
                        <div id="menuModal" class="fixed inset-0 hidden bg-black/50 bg-opacity-50 z-50">

                            <!-- Sidebar -->
                            <div class="bg-white w-72 h-full p-4 shadow-xl">

                                <!-- Bouton fermer -->
                                <div class="flex justify-between items-center mb-4">
                                    <h2 class="text-lg font-bold">Menu</h2>
                                    <button onclick="closeMenuModal()" class="text-gray-600">✖</button>
                                </div>

                                <!-- TON MENU ICI -->
                                <a href="{% url 'index'%}">
                                    <div class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-100">
                                        <img src="{% static 'gestions/icones/house (1).png'%}" class="h-5 w-5">
                                        <p>Accueil</p>
                                    </div>
                                </a>

                                <a href="{% url 'dashboard'%}">
                                    <div class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-100">
                                        <img src="{% static 'gestions/assets/icones/layout-dashboard (1).png'%}" class="h-5 w-5">
                                        <p>Tableau de bord</p>
                                    </div>
                                </a>

                                <a href="{% url 'produit'%}">
                                    <div class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-100">
                                        <img src="{% static 'gestions/assets/icones/package.png'%}" class="h-5 w-5">
                                        <p>Produits</p>
                                    </div>
                                </a>

                                <a href="{% url 'supplier'%}">
                                    <div class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-100">
                                        <img src="{% static 'gestions/assets/icones/users-round (3).png'%}" class="h-5 w-5">
                                        <p>Fournisseur</p>
                                    </div>
                                </a>

                                <a href="{% url 'mouvement' %}">
                                    <div class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-100">
                                        <img src="{% static 'gestions/assets/icones/trending-up (3).png'%}" class="h-5 w-5">
                                        <p>Mouvement</p>
                                    </div>
                                </a>

                                {% if request.user.administrateur.role == "Administrateur" %}
                                <a href="{% url 'category_create' %}">
                                    <div class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-100">
                                        <img src="{% static 'gestions/assets/icones/chart-bar-stacked.png'%}" class="h-5 w-5">
                                        <p>Category</p>
                                    </div>
                                </a>
                                {% endif %}

                            </div>
                        </div>
                            


                    <!-- {/* Search bar */} -->
                    <div class="relative flex-1 max-w-md">
                        <img src="{% static 'gestions/assets/icones/search.png'%}" alt="" class="absolute left-3 top-1/2 -translate-y-1/2 w-5 h-5 text-gray-400" />
                        <input
                        type="text"
                        placeholder="Rechercher un produit, fournisseur..."
                        class="w-full pl-10 pr-4 py-2 bg-gray-50 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#2563EB] focus:border-transparent transition-all"
                        />
                    </div>
                    </div>

                                
                    <div class="flex items-center gap-3">
                    <!-- {/* Notifications */} -->
                        <button class="relative p-2 text-gray-600 hover:text-gray-900 hover:bg-gray-100 rounded-lg transition-colors">
                            <img src="{% static 'gestions/assets/icones/bell (1).png'%}" alt="" class="w-5 h-5" />
                            <span class="absolute top-1.5 right-1.5 w-2 h-2 bg-red-500 rounded-full"></span>
                        </button>

                        <!-- {/* Profile */} -->
                        <div class="flex items-center gap-3 pl-3 border-l border-gray-200">
                            
                            <div class="hidden md:block text-right">
                                <p class="text-sm font-medium text-gray-900" id="profil">{{user.username}}</p>
                                <p class="text-xs text-gray-500">{% if user.administrateur %}Administrateur{% else %}Magasinier{% endif %} </p>
                            </div>
                            
                            <div id="avatar"  class="w-10 h-10 text-white bg-gradient-to-br from-[#2563EB] to-[#10B981] rounded-full flex items-center justify-center cursor-pointer hover:shadow-md transition-shadow">
                                        
                            </div>
                            
                            <script>
                                const fullName = "{{user.username}}";

                                const initials = fullName
                                    .split(" ")
                                    .map(word => word[0])
                                    .join("")
                                    .toUpperCase();

                                document.getElementById("avatar").textContent = initials;
                            </script>
                        </div>
                    </div>
                </div>
            </header>
            
    
    <!-- mouvement -->
        <div> 
            {% block content %}{% endblock %}
        </div>

         <!-- You can open the modal using ID.showModal() method -->
        <button class="btn w-15 h-15 bg-gradient-to-br from-[#2563EB] to-[#10B981] fixed bottom-4 right-4 bg-white shadow-lg rounded-full 
            " onclick="my_modal_3.showModal()"><span class="font-bold text-[30px] text-white
                ">+</span></button>
        <dialog id="my_modal_3" class="modal bg-red-600">
            
            <div class="modal-box fixed bg-black/60  w-full h-full ">
                <div class="bg-gray/50 p-6 flex flex-col items-end space-y-4 transform transition-all duration-700 ease-out  fixed bottom-20 right-4">
                
                <a href="{% url 'product_create' %} ">
                    <button class="bg-white text-gray-500 mt[50vh] rounded-xl hover:shadow-lg hover:bg-blue-500 hover:text-white h-8 w-50"> Produits</button>
                </a>
                <a href="{% url 'category_create' %} ">
                    <button class="bg-white text-gray-500 rounded-lg hover:shadow-lg hover:bg-blue-500 hover:text-white h-8 w-58"> Categorie</button>
                </a>
                <a href="{% url 'supplier_create' %} ">
                    <button class="bg-white text-gray-500 rounded-lg hover:shadow-lg hover:bg-blue-500 hover:text-white h-8 w-65"> Fournisseur</button>
                </a>
                <a href="{% url 'mouvement_create' %} ">
                    <button class="bg-white text-gray-500 rounded-lg hover:shadow-lg hover:bg-blue-500 hover:text-white h-8 w-73"> Mouvement</button>
                </a>
                <a href="{% url 'product_create' %} ">
                    <button class="bg-white text-gray-500 rounded-lg hover:shadow-lg hover:bg-blue-500 hover:text-white h-8 w-81"> Gerer fournisseur</button>
                </a>
                <form method="dialog">
                <button class="btn btn-lg bg-blue-500 w-30 rounded-[8px] hover:shadow-lg hover:bg-blue-700 text-white h-8 btn-ghost  font-semibold text-[20px]">Annuler</button>
                </form>
                
            </div>
            </div>
        </dialog>  

        
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const toasts = document.querySelectorAll(".toast");

            toasts.forEach((toast, index) => {
                // Apparition avec léger décalage pour l'effet cascade
                setTimeout(() => {
                    toast.classList.remove("opacity-0", "translate-x-6");
                    toast.classList.add("opacity-100", "translate-x-0");
                }, index * 300);

                // Disparition après 3s
                setTimeout(() => {
                    toast.classList.add("opacity-0", "translate-x-6");
                    // Supprimer du DOM après la transition
                    setTimeout(() => toast.remove(), 500);
                }, 4000 + index * 300);
            });
        });
    </script>
    <script>
        function openMenuModal() {
            document.getElementById("menuModal").classList.remove("hidden");
            document.getElementById("menuModal").classList.add("flex");
        }

        function closeMenuModal() {
            document.getElementById("menuModal").classList.remove("flex");
            document.getElementById("menuModal").classList.add("hidden");
        }
    </script>
</body>
</html>