<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body class="">
    {% load static  %}
    <div class=" bg-gradient-to-br from-blue-50 via-white to-green-50 flex items-center justify-center p-4">
      <div class="">
        
        <div class="text-center mb-8">
          <div class="inline-flex items-center gap-3 mb-4 cursor-pointer" >
            <div class="w-12 h-12 bg-gradient-to-br from-[#2563EB] to-[#10B981] rounded-xl flex items-center justify-center">
              <img src="{% static 'gestions/assets/icones/box (1).png'%}" alt="" class="w-7 h-7 text-white" />
            </div>
            <span class="text-2xl font-bold text-gray-900">
              Inventory<span class="text-[#2563EB]">Pro</span>
            </span>
          </div>
          <h1 class="text-2xl font-bold text-gray-900 mb-2">{{title}}</h1>
          <p class="text-gray-600">Gérer votre stock gratuitement</p>
        </div>
      </div>
    </div>
<div class="  mx-[18vw] my-10 p-6 bg-white/80 rounded-xl shadow-md">

<form method="post" enctype="multipart/form-data" class="space-y-4">
  {% csrf_token %}
  {% for field in form %}
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-600 mb-1">
                {{ field.label }}
            </label>

            {{ field }}

            {% if field.errors %}
                <p class="text-red-500 text-sm">{{ field.errors }}</p>
            {% endif %}
        </div>
    {% endfor %}
  <div class="flex space-x-4 mt-6">
    <button
      type="submit"
      class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 transition"
    >
      Enregistrer
    </button>
    <a
      href="{% url 'produit' %}"
      class="text-gray-600 hover:underline px-6 py-2"
      >Annuler</a
    >
  </div>
</form>
<div class></div>

</div>

</body>
</html> 

{% comment %} <div id="modal" 
class="fixed inset-0 w-300 hidden items-center justify-center bg-black/40 backdrop-blur-sm">

    <!-- Modal box -->
    <div class="bg-white w-[280px] rounded-xl shadow-xl p-6 
                transform transition-all scale-95 opacity-0"
         id="modalContent">

        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-semibold">Ajouter un produit</h2>

            <button onclick="closeModal()" 
            class="text-gray-500 hover:text-red-500 text-xl">
                ✕
            </button>
        </div>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="flex justify-end gap-2 mt-4">
                <button type="button"
                onclick="closeModal()"
                class="px-4 py-2 bg-gray-400 text-white rounded">
                    Annuler
                </button>

                <button type="submit"
                class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700">
                    Enregistrer
                </button>
            </div>
        </form>

    </div>
</div> {% endcomment %}
