
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

<div class="min-h-screen flex items-center justify-center bg-gray-50 px-4">

    <div class="bg-white p-6 sm:p-8 rounded-lg shadow-lg w-full max-w-3xl">

        <h2 class="text-2xl sm:text-3xl font-bold text-center mb-6">
            Connexion
        </h2>

        <form method="post">
            {% csrf_token %}{{ form.as_p }}

            {% for field in form %}
            <div class="mb-5">

                {% if field.errors %}
                <p class="text-red-500 text-sm">
                    {{ field.errors }}
                </p>
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit" id="button"
            class="w-full bg-blue-600 hover:bg-blue-800 text-white py-2 sm:py-3 rounded-lg shadow-md hover:shadow-xl transition">
                Se connecter
            </button>

        </form>

        <p class="text-center mt-6 text-sm sm:text-base">
            Pas de compte ?
            <a href="{% url 'register' %}" class="text-blue-600 hover:underline">
                S'inscrire
            </a>
        </p>

    </div>
    <script>
    password = document.getElementById("password");
    button = document.getElementById("button")  
    password.addEventListener("input", (e) => {
  let passwordValue = password.value;
if (e.target.value.length >= 4) {
    e.preventDefault();
    button.classList.remove("bg-blue-600","text-white","hover:bg-blue-800");
    button.classList.add("bg-green-300", "text-green-700","hover:bg-green-500");
  }

  });
</script>
</div>

