<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{{title}}</title>
</head>
<body class=" ">
  {% load static  %}
    <div class=" bg-gradient-to-br from-blue-50 via-white to-green-50 flex items-center justify-center p-4">
      <div class="">
        
        <div class="text-center mb-8">
          <div class="inline-flex items-center gap-3 mb-4 cursor-pointer" >
            <div class="w-12 h-12 bg-gradient-to-br from-[#2563EB] to-[#10B981] rounded-xl flex items-center justify-center">
              <img src="{% static 'gestions/assets/icones/box (1).png'%}" alt="" class="w-7 h-7 text-white" />
            </div>
            <span class="text-2xl font-bold text-gray-900">
              Inventory<span class="text-[#2563EB]">Pro</span>
            </span>
          </div>
          <h1 class="text-2xl font-bold text-gray-900 mb-2">{{title}}</h1>
          <p class="text-gray-600">Gérer votre stock gratuitement</p>
        </div>
      </div>
    </div>
<div class="  mx-[15vw] mt-10 p-6 bg-white/80 rounded-xl shadow-md"
    >
<h1 class="text-2xl font-bold text-gray-800 mb-6"></h1>
<form method="post" enctype="multipart/form-data" class=" space-y-4">
  {% csrf_token %} 
  {% for field in form %}
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-600 mb-1">
                {{ field.label }}
            </label>

            {{ field }}

            {% if field.errors %}
                <p class="text-red-500 text-sm">{{ field.errors }}</p>
            {% endif %}
        </div>
    {% endfor %}
  <div class="flex space-x-4 mt-6">
    <button
      type="submit"
      class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 transition"
    >
      Enregistrer
    </button>
    <a
      href="{% url 'produit' %}"
      class="text-gray-600 hover:underline px-6 py-2"
      >Annuler</a
    >
  </div>
</form>
<div class></div>

</div>

</body>
</html> 
