{% extends 'base.html' %} {% block content %}
{% load static %} 

<div class="space-y-6  ">
            
    <div class="flex flex-col sm:flex-row items-start sm:items-center justify-between gap-4">
        <div>
            <h1 class="text-3xl font-bold text-gray-900 mb-2">Gestion des produits</h1>
            <!-- ajout du nombre total des produits -->
            <p class="text-gray-600"> produits au total</p>
        </div>
        {% if request.user.administrateur.role == "Administrateur" %}
            <a href="{% url 'product_create' %} ">
                <button class="shadow-xl rounded-[5px] bg-blue-600 hover:bg-blue-800 text-white h-10 px-4">
                <span class="text-xl font-bold">+ </span> Ajouter un produit
                </button>
            </a>
        {% endif %}

    </div>

    <div class="fle">

                    
        <!-- {/* Filters */} -->
    <div class="bg-white rounded-xl p-4 shadow-sm border border-gray-100">
        <div class="flex flex-col lg:flex-row gap-4">
        <div class="relative flex-1">
            <img src="{% static 'gestions/assets/icones/search.png'%}" alt="" class="absolute left-3 top-1/2 -translate-y-1/2 w-5 h-5 text-gray-400" />
            <input
            type="text"
            placeholder="Rechercher un produit..."
                        
            onChange="(e) => setSearchTerm(e.target.value)"
            class="w-full pl-10 pr-4 py-2 bg-gray-50 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#2563EB] focus:border-transparent"
            />
        </div>
        {% comment %} <select
            value={selectedCategory}
            
            class="px-4 py-2 bg-gray-50 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#2563EB] focus:border-transparent cursor-pointer"
        >
            <option value="all">Toutes les catégories</option>
            <option value="all"> Electroniques</option>
            <option value="all">Accessoires</option>
            <option value="all">Audio</option>
            <!-- ajouter la liste des categorie -->
        </select> {% endcomment %}
        <form method="GET">
            <select 
                name="category"
                onchange="this.form.submit()"
                class="px-4 py-2 bg-gray-50 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#2563EB] focus:border-transparent cursor-pointer"
            >
            {% for cat in categories %}
            <option value="{{ cat.id }}">
                {{ cat.nameCategory }}
            </option>
            {% endfor %}
            <option value="">Toutes les catégories</option>

            </select>
        </form>

        </div>
    </div>
    <div class="bg-white rounded-xl shadow-sm border border-gray-100 overflow-hidden">
        <div class=" hidden lg:block">
            <table class="w-full mx-2 lg:mx-0 ">
                <thead class="bg-gray-50 border-b border-gray-200 ">
                    <tr>
                        <th class="px-6 py-4 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Produit
                        </th>
                        <th class="px-6 py-4 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Catégorie
                        </th>
                        <th class="px-6 py-4 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Quantité
                            </th>
                        <th class="px-6 py-4 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Seuil d'alerte
                                    </th>
                            <th class="px-6 py-4 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Fournisseur
                        </th>
                                    <th class="px-6 py-4 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    Statut
                        </th>
                        <th class="px-6 py-4 text-right text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Actions
                        </th>
                    </tr>
                </thead>
                <tbody class="divide-y   divide-gray-200">
                    {% for product in products%}
                    <tr 
                        id="product.id" 
                        class="bg-white hover:bg-gray-100 transition-colors lg:h-20 "
                    >
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="flex items-center gap-3">
                                {% if product.image %}
                                    <img src="{{product.image.url}}" alt="{{ product.name }}"
                                    class="w-12 h-12 rounded-lg object-cover"
                                    />
                                {% endif %}
                                <div>
                                    <div class="flex">
                                    <p class="font-medium text-gray-900">{{product.name}}</p>
                                    </div>
                                    <p class="text-sm text-gray-500">{{product.id}}</p>
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="text-sm text-gray-700">{{product.category}}</span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                                {%if product.stockQuantity <= product.alertThreshold %}
                                    <span class="font-semibold text-red-600">{{product.stockQuantity}}</span>
                                {% else %}
                                    <span class="font-semibold text-green-600">{{product.stockQuantity}}</span>
                                {% endif %} 
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <span class="text-sm text-gray-700">{{product.alertThreshold}}</span>
                        </td>
                        <td class="px-6 py-2 whitespace-nowrap ">
                            
                            <span class="text-sm text-gray-700">
                                {% for fournir in product.fournir.all %}
                                    {% comment %} {% if product == fournir.product %} {% endcomment %}
                                        {{fournir.supplier}},
                                    {% comment %} {% endif %} {% endcomment %}
                                {% endfor %}</span>
                                
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap ">
                                {%if product.stockQuantity <= product.alertThreshold %}
                                    <p class="p-2 h-7 text-xs rounded-xl w-20  bg-red-200 text-red-500">Stock faible</p>
                                {% else %}
                                    <p class="px-3 py-1 h-7 text-xs rounded-xl w-20  bg-green-200 text-green-500">en stock</p>

                                {%endif%}

                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-right">
                            <div class="flex items-center justify-end gap-2">
                                <a href="{% url 'product_update' product.id %}">   
                                    <button class="p-2 text-blue-600 hover:bg-blue-50 rounded-lg transition-colors"
                                    title="Modifier" >
                                    <img src="{% static 'gestions/assets/icones/square-pen.png'%}" alt="" class="w-4 h-4" />
                                    </button>
                                </a>
                                <a href="{% url 'product_delete' product.id %}">
                                <button class="p-2 text-red-600 hover:bg-red-50 rounded-lg transition-colors" >
                                <img src="{% static 'gestions/assets/icones/trash-2 (1).png'%}" alt="" class="w-4 h-4" />
                                </button>
                                </a>
                            </div>
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class=" bg-gray-300 lg:hidden block">
                <table class="w-full ">
                    <tbody class="divide-y   divide-gray-200 grid grid-cols-1 gap-2 mx-2">
                        {% for product in products%}
                        <tr 
                            id="product.id" 
                            class="bg-white hover:bg-gray-100 transition-colors  flex flex-col rounded-xl shadow-sm "
                        >
                            <td class="px-6 py-2 whitespace-nowrap flex justify-between items-center">
                                <div class="flex items-center gap-3">
                                    {% if product.image %}
                                        <img src="{{product.image.url}}" alt="{{ product.name }}"
                                        class="w-16 h-16 rounded-lg object-cover"
                                        />
                                    {% endif %}
                                    <div>
                                        <div class="flex">
                                        <p class="font-bold text-xl text-gray-900">{{product.name}}</p>
                                        </div>
                                        <p class="text-xl text-gray-500">{{product.id}}</p>
                                    </div>
                                </div>
                                <div>
                                    {%if product.stockQuantity <= product.alertThreshold %}
                                        <p class="p-2 h-7 text-xs rounded-xl w-20  bg-red-200 text-red-500">Stock faible</p>
                                    {% else %}
                                        <p class="px-3 py-1 h-7 text-xs rounded-xl w-20  bg-green-200 text-green-500">en stock</p>

                                    {%endif%}
                                </div>
                            </td>
                            <td class="px-6 py-2 whitespace-nowrap flex justify-between">
                                <p>categorie</p>
                                <span class="text-sm text-gray-700">{{product.category}}</span>
                            </td>
                            <td class="px-6 py-2 whitespace-nowrap flex justify-between">
                                <p>Quantité</p>
                                    {%if product.stockQuantity <= product.alertThreshold %}
                                        <span class="font-semibold text-xl text-red-600">{{product.stockQuantity}}</span>
                                    {% else %}
                                        <span class="font-semibold text-xl text-green-600">{{product.stockQuantity}}</span>
                                    {% endif %} 
                            </td>
                            <td class="px-6 py-2 whitespace-nowrap flex justify-between">
                                <p>Seuil d'alerte</p>
                                <span class="text-sm text-gray-700">{{product.alertThreshold}}</span>
                            </td>
                            <td class="px-6 py-2 whitespace-nowrap  flex justify-between">
                                <p>Fournisseur(s)</p>
                                <span class="text-sm text-gray-700">
                                    {% for fournir in product.fournir.all %}
                                        {% comment %} {% if product == fournir.product %} {% endcomment %}
                                            {{fournir.supplier}},
                                        {% comment %} {% endif %} {% endcomment %}
                                    {% endfor %}</span>
                                    
                            </td>
                            
                            <td class="px-6 py-4 whitespace-nowrap text-right">
                                <div class="flex items-center justify-center gap-2">
                                    <a href="{% url 'product_update' product.id %}">   
                                        <button class="p-2 text-blue-600 hover:bg-blue-50 rounded-lg transition-colors"
                                        title="Modifier" >
                                        <img src="{% static 'gestions/assets/icones/square-pen.png'%}" alt="" class="w-6 h-6" />
                                        </button>
                                    </a>
                                    <a href="{% url 'product_delete' product.id %}">
                                    <button class="p-2 text-red-600 hover:bg-red-50 rounded-lg transition-colors" >
                                    <img src="{% static 'gestions/assets/icones/trash-2 (1).png'%}" alt="" class="w-6 h-6" />
                                    </button>
                                    </a>
                                </div>
                            </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>

{% endblock %} 