
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body class="bg-gray-100">
  {% load static %}
  <div class=" bg-gradient-to-br from-blue-50 via-white to-green-50 flex items-center justify-center p-4">
      <div class="">
        
        <div class="text-center mb-8">
          <div class="inline-flex items-center gap-3 mb-4 cursor-pointer" >
            <div class="w-12 h-12 bg-gradient-to-br from-[#2563EB] to-[#10B981] rounded-xl flex items-center justify-center">
              <img src="{% static 'gestions/assets/icones/box (1).png'%}" alt="" class="w-7 h-7 text-white" />
            </div>
            <span class="text-2xl font-bold text-gray-900">
              Inventory<span class="text-[#2563EB]">Pro</span>
            </span>
          </div>
          <h1 class="text-2xl font-bold text-gray-900 mb-2">Créer un compte</h1>
          <p class="text-gray-600">Commencez à gérer votre stock gratuitement</p>
        </div>
        
      
<div class="max-w-4xl mx-auto mt-10 p-6 bg-white/80 rounded-xl shadow-md">

<form method="post" enctype="multipart/form-data" class="space-y-4">
  {% csrf_token %} 
  

    {% for field in form %}
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-600 mb-1">
                {{ field.label }}
            </label>

            {{ field }}

            {% if field.errors %}
                <p class="text-red-500 text-sm">{{ field.errors }}</p>
            {% endif %}
        </div>
    {% endfor %}
  <div class="flex items-start gap-2">
              <input
                type="checkbox"
                id="terms"
                required
                class="mt-1 w-4 h-4 rounded border-gray-300 text-[#2563EB] focus:ring-[#2563EB]"
              />
              <label htmlFor="terms" class="text-sm text-gray-600">
                J'accepte les
                <button type="button" class="text-[#2563EB] hover:text-[#1d4ed8] font-medium">
                  conditions d'utilisation
                </button>
                et la
                <button type="button" class="text-[#2563EB] hover:text-[#1d4ed8] font-medium">
                  politique de confidentialité
                </button>
              </label>
            </div>
      <div class="flex space-x-4 mt-6 justify-center">
        <button
          type="submit"
          class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 transition">
          S'inscrire </button>
        <a
          href="{% url 'login_in' %}"
          class="text-gray-600 hover:underline px-6 py-2">Se connecter</a>
      </div>
    </form>
    <div class></div>
    </div>
</div>
</div>

</body>
</html> 